################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Finanzas/bin/
/.vs
/Finanzas/obj/
