
#body {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow: hidden;
}

html {
    font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 150px;
    overflow-y: auto;
    width: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 5px;
}

    .ui-autocomplete li {
        padding: 5px;
        list-style-type: none;
    }

        .ui-autocomplete li:hover {
            background-color: #f4f4f4;
        }
#Tbx {
    justify-content: center;
    text-align: center;
}

#SignUpButton {
    justify-content:center;
    text-align:center;
}
#LoginButton {
    justify-content:center;
    text-align:center;
}

.dropdown-item:hover {
    background-color:gray;
}