
#body {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow: hidden;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*    background-image: url('https://cdn.discordapp.com/attachments/1020182827964317728/1347735638102900846/New_Project.png?ex=67cce81f&is=67cb969f&hm=0de040939a2dd880d95a11b39f06a5ba2e2e333296ca4bfa3a96cdb2311cfabe&')*/
    background-color:rgb(20 20 20);
    color:white;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 150px;
    overflow-y: auto;
    width: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 5px;
}

    .ui-autocomplete li {
        padding: 5px;
        list-style-type: none;
    }

        .ui-autocomplete li:hover {
            background-color: #f4f4f4;
        }
#Tbx,#AsCuentaItem {
    justify-content: center;
    text-align: center;
    padding:17px;
}

#SignUpButton, #LoginButton, #AsCuentaButton {
    justify-content: center;
    text-align: center;
}


.dropdown-item:hover {
    background-color:gray;
}


#Login,#Register,#AsociarCuenta {
    border: solid;
/*    height: 300px;*/
    width: 350px;
    background-color: rgb(33, 28, 28);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:15px;
}
footer {
    background-color: rgb(33, 28, 28);
    color:white;
    position:fixed;
}

#Layout {
    background-color: rgb(33, 28, 28) !important;
}

#LoginButton {
    color: #4BAB03 !important;
}

    #LoginButton:hover {
        color: #2D6602 !important;
    }


#AgMovimientoItem{
    width:100%;
}
#AgMovimientoItem, #DropdownCuentasAg {
    justify-content:center;
    text-align:center;
    padding:10px;
}
#AgregarMovimiento {
    border: solid;
    /*    height: 300px;*/
    width: 350px;
    background-color: rgb(33, 28, 28);
    box-sizing: border-box;
    border-radius: 15px;
    align-self:center;
}